@import '../../styles/variables';
@import '../../styles/mixins';

.nav {
  @include breakpoints('x-small') {
    @include flex(row, space-between, center);
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    background: $primary-linear;
    color: white;
    button {

    }
  }
}