{
  "extends": "airbnb-base",
  "rules": {
    "func-names": ["error", "never"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}