.default-button {
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.transparent-button {
  @extend .default-button;
  background-color: transparent;
  border-width: 1px;
}

.cta-button {
  @extend .default-button;
  font-weight: bold;
}

.default-input {
  border-radius: 5px;
}

.error-input {
  @extend .default-input;
  border-color: red;
}
