@import 'variables';

.default-button {
  border-radius: $button-radius;
  text-align: center;
  text-decoration: none;
  border-style: none;
}

.default-input {
  border-radius: $button-radius;
  text-decoration: none;
  padding: $button-padding
}

.transparent-button {
  @extend .default-button;
  background-color: transparent;
  border-width: 1px;
}

.cta-button {
  @extend .default-button;
  font-weight: bold;
}

.error-input {
  @extend .default-input;
  border-color: red !important;
}

.invalid-form-error {
  font-size: 10px;
}
