@import './variables';

@mixin breakpoints($screen-size) {
  @if ($screen-size == 'x-small') {
    @media(min-width: $x-small) {
      @content;
    }
  }
  @if ($screen-size == 'small') {
    @media(min-width: $small) {
      @content;
    }
  }
  @if ($screen-size == 'medium') {
    @media(min-width: $medium) {
      @content;
    }
  }
  @if ($screen-size == 'large') {
    @media(min-width: $large) {
      @content;
    }
  }
}

@mixin flex($direction, $justify, $alignment) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
}

