@import './variables';

@mixin breakpoints($screen-size) {
  @if ($screen-size == 'x-small') {
    @media(min-width: $x-small) {
      @content;
    }
  }
  @if ($screen-size == 'small') {
    @media(min-width: $small) {
      @content;
    }
  }
  @if ($screen-size == 'medium') {
    @media(min-width: $medium) {
      @content;
    }
  }
  @if ($screen-size == 'large') {
    @media(min-width: $large) {
      @content;
    }
  }
}

@mixin flex($direction, $justify, $alignment) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignment;
}

@mixin simple-flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin default-input {
  border-radius: $button-radius;
  padding: $button-padding;
  border-style: none;
  border: 1px solid #7b8194;
}

@mixin bottom-shadow {
  box-shadow: 0 0 4px rgba(24,35,62,.15);
}

