//*****COLORS******//

$primary: #0090d9;
$secondary: #de7c01;
$primary-linear: linear-gradient(135deg,#1673e6 50%,#01a1e7 100%);
$primary-navbar: white;
$cta: #2b4f96;
$link-color: rgba(255,255,255,0.7);
$light-attention: #23cfb9;
$label-light: #7b8194;
$input-border: #7b8194;

//*****COLORS******//


//*****FONTS******//

$main-font: 'Merriweather', serif;

//*****FONTS******//


//*****SIZES******//

$button-desktop-width: 100px;
$button-desktop-height: 40px;
$font-size-x-small: 8px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 24px;
$button-padding: 11px;
$button-radius: 3px;

//*****SIZES******//


//*****LAYOUT******//

$x-small: '320px';
$small: '480px';
$medium: '768px';
$large: '1024px';

//*****LAYOUT******//