//*****COLORS******//

$primary: #1673e6;
$primary-linear: linear-gradient(135deg,#1673e6 50%,#01a1e7 100%);
$cta: #2b4f96;

//*****COLORS******//


//*****SIZES******//

$button-desktop-width: 100px;
$button-desktop-height: 40px;
$font-size-x-small: 8px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 24px;

//*****SIZES******//


//*****LAYOUT******//

$x-small: '320px';
$small: '480px';
$medium: '768px';
$large: '1024px';

//*****LAYOUT******//