@import '../../styles/mixins';
@import '../../styles/variables';

$hover-color: rgba(9, 30, 66, 0.42);

.navigation-icon {
  @include flex(row, center, center);
  border-style: none;
  background-color: transparent;
  border-radius: 4px;

  &:hover {
    background-color: $hover-color;
  }

  &-tool-tip {
    background-color: $hover-color;
    color: white;
    height: 5px;
    width: 15px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    z-index: 500;
  }

  i {
    color: white;
  }

}