@import '../../styles/mixins';

$div-height: 400px;
$z-index: 5;

.home {

  &-cta {
    @include flex(column, space-around, center);
    height: 450px;
    width: 100%;
    margin-top: 100px;
    background-image: url('https://s3-us-west-1.amazonaws.com/jobsearchhr/rawpixel-com-296613.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    position: relative;

    &-header {
      font-weight: 500;
      text-align: center;
      font-size: 2.6em;
      z-index: $z-index;
    }

    &-header-wrapper {
      z-index: $z-index;
    }

    &-sub {
      font-weight: 300;
      font-size: 1.8em;
      text-align: center;
      z-index: $z-index;
    }

    &-overlay {
      background-color: rgba(0,0,0, 0.6);
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &-start {
      padding: 20px;
      font-family: $main-font;
      background-color: $primary;
      color: white;
      z-index: $z-index;
    }

  }

  &-type {
    @include flex(row, center, center);
    min-height: 230px;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 1.7em;

    &-description {
      width: 60%;
      line-height: 200%;
    }
  }

  &-info {
    @include flex(row, center, center);
    flex-wrap: wrap;

    > div {
      height: 400px;
      h1 {
        font-size: 1.4em;
      }
      p {
        font-size: .9em;
        font-weight: 300;
      }
      i {
        font-size: 300%;
      }
      a {
        max-width: 50%;
        width: 200px;
        height: 50px;
      }
      @include breakpoints('x-small') {
        width: 100%;
      }
      @include breakpoints('medium') {
        width: 50%;
      }
    }

  }
}